<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.isergius.android.task.maxim.enterprisecontactbook">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EmployeeListActivity"
            android:screenOrientation="portrait"
            android:label="@string/employee_list_activity_label">
            <intent-filter>
                <action android:name="name.isergius.android.task.maxim.enterprisecontactbook.ui.LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EmployeeActivity"
            android:screenOrientation="portrait"
            android:label="@string/employee_activity_label">
            <intent-filter>
                <action android:name="name.isergius.android.task.maxim.enterprisecontactbook.ui.CONTACT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>